html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

section {
    margin-bottom: 10px;
    height: 500px;
}

/* .Intro {
    background-color: #b3966c;
    display: grid;
    grid-template-columns:1fr 2fr;
    align-content: center;
    justify-content:start;
    max-height: 300px;
    padding: 0;
} */

.logo {
    display: block;
    margin: auto;
    max-height: 40%;
    max-width: 30%;
    padding-top: 300px;
    padding-right: 43%;
}

.infoSentence {
    position: absolute;
    padding-top: 23%;
    padding-left: 70%;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}

.section-x {
    background-color: #fff;
    background-image: url("/images/front.jpg");
    background-size: 100vw 500px;
    background-repeat: no-repeat;
}

.second {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    align-content: center;
    height: 300px;
}

.seconddx {
    display: grid;
    align-items: center;
    grid-template-rows: "aaa"
    "bbb"
    "ccc";
}

.story img {
     height: 500px;
    width: 400px ;
}

/* .story {
    display: grid;
    justify-content: end;
} */

.text{
    font-family:'Filson Pro', sans-serif;
}

.titSecmid {
    font-size: 40px;
}

.parSecmid {
    font-size: 24px;
}

.third {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    padding-bottom: 20px;
    padding-top: 20px;
}

.foto {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    height: 350px;
}

.img4 {
    height: 300px;
    width: 32.5vw;
    /* width: calc(100vw/3.05); */
}

.thirdsx{
    font-size: 55px;
}

.thirddx {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    font-size: 20px;
}

.thirdmid {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}

.fifth, .sixth, .contatti{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
}

.fifth, .contatti {
    align-items: center;
}

.fifthsx, .sixthsx, .contattisx {
    font-size: 50px;
}

.fifthdx, .sixthdx, .contattidx {
    font-size: 24px;
}

.contattidx {
    display: grid;
    align-items: center;
}

.third, .fifth, .contatti{
    background-color: #b3966c;
    color: white;
}

.sixthsx {
    display: grid;
    align-items: center;
}

.sixthdx {
    display: grid;
    align-items: center;
}

.sixthc1 {
    display: grid;
    grid-template-rows: "aaa"
    "aaa"
    "bbb";
}

.bio, .rifiuti, .naturale {
    height:120px;
}

.bollini {
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 1300px) {
    .titSecmid, .parSecmid, .thirdsx, .fifthsx, .sixthsx, .contattisx {
        display: grid;
        align-items: center;
        font-size: 20px;
    }

    .section-x {
        display: grid;
        grid-template-rows:1fr 1fr;
        /* justify-content: center; */
        align-items: center;
    }

    .parSecmid, .thirddx, .fifthdx, .sixthdx, .contattidx {
        font-size: 16px;
    }

    .second {
        display: grid;
        grid-template-columns: 1fr 2fr 4fr 1fr;
      
    }

    .third {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 5fr 1fr;
    }
    
    .fifth {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2.5fr 1fr;
    }
    .story img {
        height: 250px;
       width: 200px ;
   }

   .lana, .terra {
    height: 64px;
    width: 108px;
   }

}

@media print /* A4= 2480px w x 3508px h */{
    body {
        -webkit-print-color-adjust: exact;
    }
    
    .titSecmid, .parSecmid, .thirdsx, .fifthsx, .sixthsx, .contattisx {
        display: grid;
        align-items: center;
        font-size: 24px;
    }

    .parSecmid, .thirddx, .fifthdx, .sixthdx, .contattidx {
        font-size: 22px;
    }

    .second {
        display: grid;
        grid-template-columns: 1fr 2fr 4fr 1fr;
    }


    .third {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 3fr 1.5fr 5fr 1fr;
        padding-bottom: 35px;
    }
    
    .fifth, .sixth, .contatti{
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr 3fr 1fr;
    }

    .story img {
        height: 250px;
       width: 200px ;
   }

   .lana {
    margin-bottom: 10px;
   }

   .lana, .terra {
    height: 64px;
    width: 108px;
   }

   .img4 {
    height: 300px;
    width: 43.5vw;
    /* width: calc(100vw/3.05); */
    }

    .foto {
        display: grid;
        justify-content: center;
        page-break-before: always;
    }

    .bio, .rifiuti, .naturale {
        height:60px;
    }
}

.footer {
    display: grid;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.navMenu {
    margin-top: 50vh;
    position: fixed;
    width: 99vw;
    display: grid;
    justify-content:flex-end;
    text-align: right;
}

.menuEls {
    list-style-type: none;
}

.menuEls li {
    margin-bottom: 30px;
    font-size: larger;
    font-weight: normal;
}

.menuEls li a {
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 500px) {
    .section-x {
        background-color: #fff;
        background-image: url("/images/front.jpg");
        background-size: 1700px;
        background-repeat: no-repeat;
    }

    .logo {
        display: grid;
        margin: none;
        max-height: 100%;
        max-width: 100%;
        padding-top: 55%;
        padding-right: 0%;
    }
    .Intro {
        display: flex;
        justify-content: center;
    }

    .infoSentence {
        visibility: hidden;
    }

    .second {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
        align-content: center;
        height: 300px;
    }
    
    .seconddx {
        display: grid;
        align-items: center;
        grid-template-rows: "aaa"
        "bbb"
        "ccc";
    }

    .third {
        display: grid;
        grid-template-rows: 5% 20% 20% 25%;
        justify-content: center;
        grid-template-columns: none ;
        padding-bottom: 0;
        padding-top: 0;
        height: 600px;
    }
    
    .thirddx {
        display: grid;
        justify-content: center;
        grid-template-rows: 1fr 1fr;
        padding-left: 10%;
        padding-right: 5%;
    }
    
    .thirdmid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 13%;
    }

    .thirdsx {
        margin-left: 10%;
        margin-right: 5%;
    }
    .lana {
        margin-bottom: 0px;
    }
    
    .lana, .terra {
        height: 64px;
        width: 108px;
    }

    .foto {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 10px;
        height: 250px;
    }

    .img4 {
        height: 160px;
        width: 35vw;
        /* width: calc(100vw/3.05); */
    }

    .fifth {
        display: grid;
        grid-template-rows: 10% 25% 5% 50% 10%;
        grid-template-columns: none;
        height: 300px;
    }

    
    .fifthsx {
        margin-left: 9%;
    }
    
    .sixth {
        display: grid;
        grid-template-rows: 0% 20% 20% 20% 20% ;
        grid-template-columns: none;
    }

    .sixthsx {
        margin-left: 30% ;
    }

    .sixthdx {
        margin-left: 5% ;
    }
    .bollini {
        margin-left: 5%;
    }

    .contatti {
        display: grid;
        grid-template-rows: 20% 20% 10% 20% 30%;
        grid-template-columns: none;
        height: 400px;        
    }

    .contattidx {
        margin-left: 20%;
    }

    .contattisx {
        margin-left: 20%;
    }

}